{% extends 'index.html' %}
{% block body %}
{% load static %}

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<form action="{% url 'index' %}" method="POST" class="post-form">
  {% csrf_token %}
  <div class="page-content">
    <div class="card radius-15">
      <div class="card-body">
        <div class="card-title">
          <center>
            <h3 class="mb-0" >TALLY PRIME</h3>
          </center>
        </div>
      </div>
    </div>
    <div class="card radius-15">
      <div class="card-body">
        <div id="sales">
          <div class="invoice overflow-auto">
            <div class="row">
              <div class="col">
                <center>
                  <h2>DAY BOOK</h2>
                  
                </center>
              </div>
            </div>
            <div class="row mt-4">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover" id="tab_logic">
                    <thead>
                      <tr>
                        
                        <th class="text-center">Particulars</th>
                        <th class="text-center">Voucher No.</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Voucher type</th>
                        <th class="text-center">Amount</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                        {% for i in con %}
                        <tr>
                        <td>{{i.particulars.ledger_name}}</td>
                        <td>{{i.no}}</td>
                        <td>{{i.date}}</td>
                        <td>Contra Voucher</td>
                        <td>{{i.amount}}</td>
                        <td><a class="btn btn-danger btn-xs" href="{% url 'delcon' i.id  %}"><span class="glyphicon glyphicon-trash"></span>Delete</a></td>
                      </tr>
                       {% endfor %}
                       {% for i in pay %}
                        <tr>
                        <td>{{i.particulars.ledger_name}}</td>
                        <td>{{i.no}}</td>
                        <td>{{i.date}}</td>
                        <td>Payment Voucher</td>
                        <td>{{i.amount}}</td>
                        <td><a class="btn btn-danger btn-xs" href="{% url 'delpay' i.id  %}"><span class="glyphicon glyphicon-trash"></span>Delete</a></td>
                      </tr>
                       {% endfor %}
                       {% for i in rec %}
                        <tr>
                        <td>{{i.particulars.ledger_name}}</td>
                        <td>{{i.no}}</td>
                        <td>{{i.date}}</td>
                        <td>Receipt Voucher</td>
                        <td>{{i.amount}}</td>
                        <td><a class="btn btn-danger btn-xs" href="{% url 'delrec' i.id  %}"><span class="glyphicon glyphicon-trash"></span>Delete</a></td>
                      </tr>
                       {% endfor %}
                       {% for i in jou %}
                        <tr>
                        <td>{{i.particulars.ledger_name}}</td>
                        <td>{{i.no}}</td>
                        <td>{{i.date}}</td>
                        <td>Journal Voucher</td>
                        <td>{{i.amount}}</td>
                        <td><a class="btn btn-danger btn-xs" href="{% url 'deljou' i.id  %}"><span class="glyphicon glyphicon-trash"></span>Delete</a></td>
                      </tr>
                       {% endfor %}
                       {% for i in sal %}
                       <tr>
                        <td>{{i.particulars.ledger_name}}</td>
                        <td>{{i.no}}</td>
                        <td>{{i.date}}</td>
                        <td>Sales Voucher</td>
                        <td>{{i.amount}}</td>
                        <td><a class="btn btn-danger btn-xs" href="{% url 'delsal' i.id  %}"><span class="glyphicon glyphicon-trash"></span>Delete</a></td>
                      </tr>
                      {% endfor %}
                      {% for i in pur %}
                       <tr>
                        <td>{{i.particulars.ledger_name}}</td>
                        <td>{{i.no}}</td>
                        <td>{{i.date}}</td>
                        <td>Purchase Voucher</td>
                        <td>{{i.amount}}</td>
                        <td><a class="btn btn-danger btn-xs" href="{% url 'delpur' i.id  %}"><span class="glyphicon glyphicon-trash"></span>Delete</a></td>
                      </tr>
                      {% endfor %}
                        </tbody></table><div class="row clearfix" style="margin-top:20px">
                            <div class="col-md-7"></div>
                            
                          </div>
                          <div class="row mt-4">
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                              <button type="submit" class="btn btn-outline-info w-100 rounded-pill text-light">
                                OK
                              </button>
                            </div>
                          </div>
                          <div class="row mt-3">
                            <div class="col-md-10">
                              <div class="notices">
                                <div class="text-muted"></div>
                                <div class="notice text-muted">
                                  Tally Prime Terms and Conditions Apply
                                </div>
                              </div>
                            </div>
                            <div class="col-md-2"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
{% endblock %}