{% extends 'index.html' %}
{% block body %}
{% load static %}

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script>
  $(document).ready(function() {
    var i = 1;
    $("#add_row").click(function() {
      b = i - 1;
      $('#addr' + i).html($('#addr' + b).html()).find('td:first-child').html(i + 1);
      $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
      i++;
    });
    $("#delete_row").click(function() {
      if (i > 1) {
        $("#addr" + (i - 1)).html('');
        i--;
      }
      calc();
    });

    $('#tab_logic tbody').on('keyup change', function() {
      calc();
    });
    $('#tax').on('keyup change', function() {
      calc_total();
    });
  });

  function calc() {
    $('#tab_logic tbody tr').each(function(i, element) {
      var html = $(this).html();
      if (html != '') {
        var qty = $(this).find('.qty').val();
        var price = $(this).find('.price').val();
        var tax = $(this).find('.tax').val();
        $(this).find('.total').val(qty * price);
        $(this).find('.taxamount').val((qty * price) * (tax / 100));

        calc_total();
      }
    });
  }

  function calc_total() {
    total = 0;
    $('.total').each(function() {
      total += parseFloat($(this).val());
    });
    taxamount = 0;
    $('.taxamount').each(function() {
      taxamount += parseFloat($(this).val());
    });
    $('#sub_total').val(parseFloat(total.toFixed(2)));
    $('#tax_amount').val(parseFloat(taxamount.toFixed(2)));
    $('#total_amount').val(parseFloat((taxamount + total).toFixed(2)));
  }
</script>




<form action="{% url 'contra' %}" method="POST" class="post-form">
  {% csrf_token %}
  <div class="page-content">
    <div class="card radius-15">
      <div class="card-body">
        <div class="card-title">
          <center>
            <h3 class="mb-0" id="slno">CONTRA VOUCHER No.</h3>
          </center>
        </div>
      </div>
    </div>
    <div class="card radius-15">
      <div class="card-body">
        <div id="sales">
          <div class="invoice overflow-auto">
            <div class="row">
              <div class="col">
                <center>
                  <h2>Fin sYs</h2>
                </center>
              </div>
            </div>
            <div class="row mt-4">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover" id="tab_logic">
                    <thead>
                      <tr>
                        
                        <th class="text-center">Particulars</th>
                        <th class="text-center">Credit</th>
                        <th class="text-center">Debit</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr id='addr0'>
                        
                        <td>
                          <select name='salepro' id="product" class="form-control">
                            <option value=" " selected>Select Ledger</option>
                        
                            <option>Cash in hand</option>
                            <option>Bank account</option>
                          </select>
                        </td>
                        
                        <td><input type="number" name='saleprice' id="unit1" placeholder='0.00' class="form-control price" step="0.00" min="0" /></td>
                        <td><input type="number" name='saaletotal' id="total1" placeholder='0.00' class="form-control total"  /></td>
                        <div class="row clearfix" style="margin-top:20px">
                            <div class="col-md-7"></div>
                            <div class="col-md-5">
                              <table class="table table-bordered table-hover" id="tab_logic_total">
                                <tbody>
                                  <tr>
                                    <th class="text-center">Sub Total</th>
                                    <td class="text-center"><input type="number" step='any' name='salesubtotal' placeholder='0.00' class="form-control" id="sub_total" readonly /></td>
                                  </tr>
                                  
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="row mt-4">
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                              <button type="submit" class="btn btn-outline-info w-100 rounded-pill text-light">
                                Save
                              </button>
                            </div>
                          </div>
                          <div class="row mt-3">
                            <div class="col-md-10">
                              <div class="notices">
                                <div class="text-muted">NOTICE:</div>
                                <div class="notice text-muted">
                                  Fin sYs Terms and Conditions Apply
                                </div>
                              </div>
                            </div>
                            <div class="col-md-2"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
{% endblock %}
